.img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: 0 auto;
}

.text {
  font-size: 20px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.author {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}
